---
import { marked } from "marked";
import Base from "@/layouts/Base.astro";

const file = marked("# lol");
---

<Base title="sharath's resume">
  <div class="m-4 flex flex-col items-center bg-dot-black/20 dark:bg-dot-white/20">
    <article
      set:html={file.toString()}
      class:list={[
        "mb-20 mt-4 max-w-[80ch]",
        "prose dark:prose-invert mx-auto",
        "prose-a:no-underline hover:prose-a:underline prose-a:inline prose-img:inline",
        "prose-img:rounded-xl prose-img:my-1",
        "prose-hr:my-2",
        "prose-pre:mt-0 prose-pre:rounded-t-none",
        "prose-code:whitespace-pre prose-code:rounded prose-code:border-[#24292e] prose-code:bg-[#24292e] prose-code:p-0.5 prose-code:text-white prose-code:before:hidden prose-code:after:hidden",
        "defaults-for-unplugin-icons",
      ]}
    />
  </div>
</Base>
