---
import { remarked } from "@/lib/remark";
import Base from "@/layouts/Base.astro";
import FloatingActionButton from "@/components/floating-action-button.astro";
import MaterialSymbolsArrowBack2 from "~icons/material-symbols/arrow-back-2";

export const prerender = true;

const content = await fetch(new URL("https://raw.githubusercontent.com/tnfssc/tnfssc/refs/heads/main/CHRONICLE.md"))
  .then((r) => {
    if (r.ok) return r;
    else throw new Error("Failed to fetch data");
  })
  .then((r) => r.text())
  .then(remarked)
  .catch((e) => {
    console.error(e);
    return "## Cannot access GitHub to fetch the latest resume\n\nOpen it directly [https://github.com/tnfssc/tnfssc/blob/main/RESUME.md](https://github.com/tnfssc/tnfssc/blob/main/RESUME.md)";
  });
---

<Base title="sharath's chronicle">
  <main class="m-4 flex flex-col items-center">
    <FloatingActionButton
      transition:persist="chronicle-switch"
      className="bg-teal-700 hover:bg-teal-800 active:bg-teal-800"
    >
      <a
        href="/"
        class="group flex size-full items-center justify-center rounded-full text-secondary-foreground hover:underline"
      >
        <MaterialSymbolsArrowBack2 class="size-8 transition-transform group-hover:scale-105 group-active:rotate-90" />
      </a>
    </FloatingActionButton>
    <article
      set:html={content}
      class:list={[
        "prose dark:prose-invert mx-auto max-w-[min(calc(100vw-32px),72ch)]",
        "prose-a:no-underline hover:prose-a:underline prose-a:break-all",
        "prose-img:rounded-xl",
        "prose-pre:mt-0 prose-pre:rounded-t-none",
        "prose-code:whitespace-pre prose-code:rounded prose-code:border-[#1e1e1e] prose-code:bg-[#1e1e1e] prose-code:p-0.5 prose-code:text-white prose-code:before:hidden prose-code:after:hidden",
        "defaults-for-unplugin-icons hide-quote-marks-inside-blockquote",
        "prose-img:my-1 prose-img:shadow-md prose-img:shadow-foreground/20 prose-a:inline prose-img:inline prose-hr:my-2 [&_summary]:cursor-pointer",
        "hover:prose-img:outline prose-img:outline-gray-500",
      ]}
    />
  </main>
</Base>
