---
import Base from "@/layouts/Base.astro";
---

<Base title="sharath's portfolio">
  <div class="flex min-h-screen w-full flex-col items-center justify-center bg-dot-black/20 dark:bg-dot-white/20">
    <iframe
      title="Resume"
      allow="clipboard-write"
      class="h-[2787px] w-full max-w-screen-lg p-4"
      src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Ftnfssc%2Ftnfssc%2Fblob%2Fmain%2FRESUME.md&style=a11y-dark&type=markdown&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on&fetchFromJsDelivr=on"
    ></iframe>
  </div>
</Base>
