---
import { LangIcons } from "@/lib/lang-icon";

interface Props {
  filename?: string;
  lang: keyof typeof LangIcons;
}

const { lang, filename } = Astro.props;

const Component = LangIcons[lang];
---

<div class="mt-6 flex w-full items-center gap-2 rounded-t-lg border-b border-solid border-border bg-muted p-2">
  <Component class="!mb-0 inline !h-4 !w-4" />
  <span class="flex-1 font-mono text-sm font-bold">{filename ?? lang}</span>
</div>
